# Trabajo Final
Nicolás Maldonado - Miguel Gómez
## Preparacion de Datos
8 / Enero / 2024<br>
Master en Ciencia de Datos y Aprendizaje Automatico

## Descripción: Body signal of smoking

## Objetivo:
This dataset is a collection of basic health biological signal data.
The goal is to determine the presence or absence of smoking through bio-signals.

Origen de los datos: Kaggle -> [Body signal of smoking](https://www.kaggle.com/datasets/kukuroo3/body-signal-of-smoking)

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [25]:
df = pd.read_csv('Smoking/competition_format/X_train.csv')
y = pd.read_csv('Smoking/competition_format/y_train.csv')
print(y.describe())
df.describe()

                 ID       smoking
count  44553.000000  44553.000000
mean   27833.607389      0.367024
std    16064.577297      0.481998
min        0.000000      0.000000
25%    13938.000000      0.000000
50%    27819.000000      0.000000
75%    41738.000000      1.000000
max    55690.000000      1.000000

,ID,age,height(cm),weight(kg),waist(cm),eyesight(left),eyesight(right),hearing(left),hearing(right),systolic,...,triglyceride,HDL,LDL,hemoglobin,Urine protein,serum creatinine,AST,ALT,Gtp,dental caries
count,44553.000000,44553.000000,44553.000000,44553.000000,44553.000000,44553.000000,44553.000000,44553.00000,44553.000000,44553.000000,...,44553.000000,44553.000000,44553.000000,44553.000000,44553.000000,44553.000000,44553.000000,44553.000000,44553.000000,44553.000000
mean,27833.607389,44.210603,164.657038,65.883442,82.077247,1.011734,1.008134,1.02561,1.026036,121.529055,...,126.721770,57.288421,115.037663,14.622194,1.087020,0.886097,26.213678,27.084731,40.065517,0.213521
std,16064.577297,12.089077,9.198571,12.823676,9.278288,0.488131,0.488762,0.15797,0.159245,13.688748,...,71.611991,14.795235,40.937878,1.564872,0.404944,0.226092,19.087106,31.754805,50.723521,0.409797
min,0.000000,20.000000,130.000000,30.000000,51.000000,0.100000,0.100000,1.00000,1.000000,71.000000,...,8.000000,4.000000,1.000000,4.900000,1.000000,0.100000,6.000000,1.000000,1.000000,0.000000
25%,13938.000000,40.000000,160.000000,55.000000,76.000000,0.800000,0.800000,1.00000,1.000000,112.000000,...,74.000000,47.000000,92.000000,13.600000,1.000000,0.800000,19.000000,15.000000,17.000000,0.000000
50%,27819.000000,40.000000,165.000000,65.000000,82.000000,1.000000,1.000000,1.00000,1.000000,120.000000,...,108.000000,55.000000,113.000000,14.800000,1.000000,0.900000,23.000000,21.000000,26.000000,0.000000
75%,41738.000000,55.000000,170.000000,75.000000,88.000000,1.200000,1.200000,1.00000,1.000000,130.000000,...,160.000000,66.000000,136.000000,15.700000,1.000000,1.000000,29.000000,31.000000,44.000000,0.000000
max,55690.000000,85.000000,190.000000,135.000000,129.000000,9.900000,9.900000,2.00000,2.000000,240.000000,...,999.000000,618.000000,1860.000000,21.100000,6.000000,11.600000,1311.000000,2914.000000,999.000000,1.000000

In [26]:
df.drop(['ID'], axis=1, inplace=True)
y.drop(['ID'], axis=1, inplace=True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44553 entries, 0 to 44552
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               44553 non-null  object
 1   age                  44553 non-null  int64
 2   height(cm)           44553 non-null  int64
 3   weight(kg)           44553 non-null  int64
 4   waist(cm)            44553 non-null  float64
 5   eyesight(left)       44553 non-null  float64
 6   eyesight(right)      44553 non-null  float64
 7   hearing(left)        44553 non-null  float64
 8   hearing(right)       44553 non-null  float64
 9   systolic             44553 non-null  float64
 10  relaxation           44553 non-null  float64
 11  fasting blood sugar  44553 non-null  float64
 12  Cholesterol          44553 non-null  float64
 13  triglyceride         44553 non-null  float64
 14  HDL                  44553 non-null  float64
 15  LDL                  44553 non-null  float64
 16  hemoglobin           44553 non-null  float64
 17  Urine protein        44553 non-null  float64
 18  serum creatinine     44553 non-null  float64
 19  AST                  44553 non-null  float64
 20  ALT                  44553 non-null  float64
 21  Gtp                  44553 non-null  float64
 22  oral                 44553 non-null  object
 23  dental caries        44553 non-null  float64
 24  tartar               44553 non-null  object
dtypes: float64(19), int64(3), object(3)
memory usage: 8.5+ MB

Observamos como no tenemos datos nulos, procedemos a validar duplicados.