# Trabajo Final
Nicolás Maldonado - Miguel Gómez
## Preparacion de Datos
8 / Enero / 2024<br>
Master en Ciencia de Datos y Aprendizaje Automatico

## Descripción: National Health Insurance Corporation_Health checkup information

## Objetivo:
Health checkup information refers to the general health checkup results of national health insurance employee subscribers, dependents over 40 years of age, local subscribers who are heads of households, and local subscribers over 40 years of age, and the information received by those who have reached the age of 40 and 66 among these general health checkup subjects. This is open data consisting of basic information (sex, age group, city/province code, etc.) and examination details (height, weight, total cholesterol, hemoglobin, etc.) on 1 million people each year who have a history of health examination during the transition period of life.

Origen de los datos: Data.go.kr -> [National Health Insurance Corporation_Health checkup information](https://www.data.go.kr/data/15007122/fileData.do)

NOTA: Este repositorio es un repositorio Koreano donde encontramos la data sin procesar de este caso expuesto en kaggle
[Body signal of smoking](https://www.kaggle.com/datasets/kukuroo3/body-signal-of-smoking)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)

In [2]:
df_original = pd.read_csv('Smoking/data-kor.CSV', encoding='cp949')
df_original

,기준년도,가입자 일련번호,시도코드,성별코드,연령대코드(5세 단위),신장(5cm 단위),체중(5kg 단위),허리둘레,시력(좌),시력(우),청력(좌),청력(우),수축기 혈압,이완기 혈압,식전혈당(공복혈당),총 콜레스테롤,트리글리세라이드,콜레스테롤(HDL),콜레스테롤(LDL),혈색소,요단백,혈청크레아티닌,간기능검사(AST),간기능검사(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,결손치유무,치아마모증유무,제3대구치(사랑니)이상,치석
0,2021,3603281,26,2,9,165,60,83.0,1.0,1.0,1.0,1.0,105.0,65.0,94.0,NaN,NaN,NaN,NaN,14.4,1.0,0.8,23.0,28.0,11.0,1.0,1.0,1,0.0,NaN,NaN,NaN,1.0
1,2021,1055961,11,1,11,170,70,84.0,0.9,1.0,1.0,1.0,124.0,66.0,105.0,NaN,NaN,NaN,NaN,15.0,1.0,0.9,22.0,24.0,104.0,3.0,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2021,3237995,43,1,14,170,70,94.0,0.8,0.4,1.0,1.0,144.0,84.0,91.0,209.0,134.0,60.0,122.0,15.5,1.0,0.8,45.0,57.0,191.0,2.0,1.0,0,NaN,NaN,NaN,NaN,NaN
3,2021,3171504,49,1,11,175,80,95.0,1.2,1.2,1.0,1.0,144.0,96.0,99.0,NaN,NaN,NaN,NaN,16.0,1.0,1.3,30.0,38.0,52.0,3.0,1.0,0,NaN,NaN,NaN,NaN,NaN
4,2021,4107697,44,2,11,160,70,92.0,1.5,1.5,1.0,1.0,142.0,81.0,103.0,NaN,NaN,NaN,NaN,13.8,1.0,0.6,35.0,30.0,14.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2021,3120240,45,1,11,155,65,86.0,1.5,1.5,1.0,1.0,134.0,84.0,106.0,178.0,39.0,102.0,68.0,15.6,1.0,0.9,31.0,25.0,47.0,1.0,1.0,0,NaN,NaN,NaN,NaN,NaN
999996,2021,4905388,47,1,11,160,75,95.0,1.0,0.9,1.0,1.0,130.0,93.0,89.0,172.0,144.0,44.0,99.0,15.7,1.0,0.8,13.0,29.0,124.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN
999997,2021,1472129,45,1,9,170,65,76.0,0.7,1.0,1.0,1.0,118.0,66.0,108.0,NaN,NaN,NaN,NaN,15.1,1.0,1.0,14.0,26.0,24.0,3.0,1.0,0,NaN,NaN,NaN,NaN,NaN
999998,2021,547327,47,2,13,160,65,88.0,0.7,0.7,1.0,1.0,150.0,90.0,110.0,190.0,117.0,60.0,106.0,13.0,1.0,0.9,30.0,28.0,15.0,1.0,1.0,0,NaN,NaN,NaN,NaN,NaN
999999,2021,243267,27,1,11,165,55,77.0,1.2,1.0,1.0,1.0,94.0,62.0,82.0,NaN,NaN,NaN,NaN,13.9,1.0,0.9,19.0,10.0,14.0,3.0,1.0,0,NaN,NaN,NaN,NaN,NaN

Utilizamos la información puesta en el repositorio para traducir las columnas.

In [3]:
columns = [
    'Base year',
    'Subscriber serial number',
    'attempt code',
    'gender code',
    'Age code (5 years increments)',
    'Height (in 5cm increments)',
    'Weight (in 5 kg units)',
    'Waist circumference',
    'Vision (left)',
    'Vision (right)',
    'Hearing (left)',
    'Hearing (right)',
    'systolic blood pressure',
    'diastolic blood pressure',
    'Pre-meal blood sugar (fasting blood sugar)',
    'total cholesterol',
    'triglycerides',
    'Cholesterol (HDL)',
    'Cholesterol (LDL)',
    'hemoglobin',
    'urine protein',
    'Serum creatinine',
    'Liver function test (AST)',
    'Liver function test (ALT)',
    'Gamma GT',
    'Smoking status',
    'Drinking status',
    'Whether to undergo oral examination',
    'Presence of dental caries',
    'Whether or not the defect is healed',
    'Presence or absence of tooth wear',
    'Third molars (wisdom teeth) or more',
    'tartar'
]
df_original = pd.read_csv('Smoking/data-kor.CSV', encoding='cp949', names=columns, skiprows=1)
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 33 columns):
 #   Column                                      Non-Null Count    Dtype
---  ------                                      --------------    -----
 0   Base year                                   1000000 non-null  int64
 1   Subscriber serial number                    1000000 non-null  int64
 2   attempt code                                1000000 non-null  int64
 3   gender code                                 1000000 non-null  int64
 4   Age code (5 years increments)               1000000 non-null  int64
 5   Height (in 5cm increments)                  1000000 non-null  int64
 6   Weight (in 5 kg units)                      1000000 non-null  int64
 7   Waist circumference                         999909 non-null   float64
 8   Vision (left)                               999790 non-null   float64
 9   Vision (right)                              999788 non-null   float64
 10  Hearing (left)                              999818 non-null   float64
 11  Hearing (right)                             999819 non-null   float64
 12  systolic blood pressure                     992569 non-null   float64
 13  diastolic blood pressure                    992570 non-null   float64
 14  Pre-meal blood sugar (fasting blood sugar)  992492 non-null   float64
 15  total cholesterol                           426092 non-null   float64
 16  triglycerides                               426089 non-null   float64
 17  Cholesterol (HDL)                           426090 non-null   float64
 18  Cholesterol (LDL)                           418515 non-null   float64
 19  hemoglobin                                  992494 non-null   float64
 20  urine protein                               987343 non-null   float64
 21  Serum creatinine                            992497 non-null   float64
 22  Liver function test (AST)                   992498 non-null   float64
 23  Liver function test (ALT)                   992497 non-null   float64
 24  Gamma GT                                    992497 non-null   float64
 25  Smoking status                              999673 non-null   float64
 26  Drinking status                             999820 non-null   float64
 27  Whether to undergo oral examination         1000000 non-null  int64
 28  Presence of dental caries                   317614 non-null   float64
 29  Whether or not the defect is healed         0 non-null        float64
 30  Presence or absence of tooth wear           0 non-null        float64
 31  Third molars (wisdom teeth) or more         0 non-null        float64
 32  tartar                                      317614 non-null   float64
dtypes: float64(25), int64(8)
memory usage: 251.8 MB

In [4]:
df_original.describe(include='all')

,Base year,Subscriber serial number,attempt code,gender code,Age code (5 years increments),Height (in 5cm increments),Weight (in 5 kg units),Waist circumference,Vision (left),Vision (right),Hearing (left),Hearing (right),systolic blood pressure,diastolic blood pressure,Pre-meal blood sugar (fasting blood sugar),total cholesterol,triglycerides,Cholesterol (HDL),Cholesterol (LDL),hemoglobin,urine protein,Serum creatinine,Liver function test (AST),Liver function test (ALT),Gamma GT,Smoking status,Drinking status,Whether to undergo oral examination,Presence of dental caries,Whether or not the defect is healed,Presence or absence of tooth wear,Third molars (wisdom teeth) or more,tartar
count,1000000.0,1.000000e+06,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,999909.000000,999790.000000,999788.000000,999818.000000,999819.000000,992569.000000,992570.000000,992492.000000,426092.000000,426089.000000,426090.000000,418515.000000,992494.000000,987343.000000,992497.000000,992498.000000,992497.000000,992497.000000,999673.000000,999820.000000,1000000.000000,317614.000000,0.0,0.0,0.0,317614.000000
mean,2021.0,2.498895e+06,34.003635,1.498885,11.922271,161.051895,63.124650,82.157506,0.928717,0.928654,1.046786,1.044768,124.770949,76.668027,104.028708,198.775959,131.055148,57.050323,116.341548,14.166531,1.122753,0.840992,27.688084,26.725030,37.253407,1.549023,0.577405,0.317614,0.163459,NaN,NaN,NaN,0.575535
std,0.0,1.444382e+06,12.512349,0.499999,2.192421,9.206325,12.451258,9.750509,0.636019,0.635091,0.221485,0.216612,14.841051,10.103910,25.037356,43.258749,96.470688,17.019018,39.171948,1.554379,0.491458,0.425875,19.495291,23.966019,70.839635,0.782783,0.493972,0.465549,0.369785,NaN,NaN,NaN,0.587364
min,2021.0,8.000000e+00,11.000000,1.000000,9.000000,130.000000,30.000000,31.000000,0.100000,0.100000,1.000000,1.000000,60.000000,27.000000,25.000000,19.000000,1.000000,1.000000,1.000000,0.100000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000
25%,2021.0,1.247766e+06,27.000000,1.000000,10.000000,155.000000,55.000000,75.000000,0.700000,0.700000,1.000000,1.000000,115.000000,70.000000,91.000000,170.000000,75.000000,46.000000,90.000000,13.200000,1.000000,0.700000,20.000000,16.000000,16.000000,1.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,0.000000
50%,2021.0,2.498360e+06,41.000000,1.000000,12.000000,160.000000,60.000000,82.000000,0.900000,0.900000,1.000000,1.000000,124.000000,77.000000,99.000000,198.000000,107.000000,55.000000,115.000000,14.200000,1.000000,0.800000,24.000000,21.000000,24.000000,1.000000,1.000000,0.000000,0.000000,NaN,NaN,NaN,1.000000
75%,2021.0,3.751301e+06,44.000000,2.000000,13.000000,170.000000,70.000000,88.700000,1.200000,1.000000,1.000000,1.000000,134.000000,83.000000,109.000000,226.000000,157.000000,66.000000,141.000000,15.300000,1.000000,1.000000,30.000000,31.000000,39.000000,2.000000,1.000000,1.000000,0.000000,NaN,NaN,NaN,1.000000
max,2021.0,5.000000e+06,49.000000,2.000000,18.000000,195.000000,135.000000,330.000000,9.900000,9.900000,3.000000,3.000000,244.000000,180.000000,950.000000,2406.000000,4600.000000,1020.000000,2385.000000,25.000000,6.000000,162.500000,4876.000000,4354.000000,9999.000000,3.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,2.000000

In [5]:
df_original.head(5)

,Base year,Subscriber serial number,attempt code,gender code,Age code (5 years increments),Height (in 5cm increments),Weight (in 5 kg units),Waist circumference,Vision (left),Vision (right),Hearing (left),Hearing (right),systolic blood pressure,diastolic blood pressure,Pre-meal blood sugar (fasting blood sugar),total cholesterol,triglycerides,Cholesterol (HDL),Cholesterol (LDL),hemoglobin,urine protein,Serum creatinine,Liver function test (AST),Liver function test (ALT),Gamma GT,Smoking status,Drinking status,Whether to undergo oral examination,Presence of dental caries,Whether or not the defect is healed,Presence or absence of tooth wear,Third molars (wisdom teeth) or more,tartar
0,2021,3603281,26,2,9,165,60,83.0,1.0,1.0,1.0,1.0,105.0,65.0,94.0,NaN,NaN,NaN,NaN,14.4,1.0,0.8,23.0,28.0,11.0,1.0,1.0,1,0.0,NaN,NaN,NaN,1.0
1,2021,1055961,11,1,11,170,70,84.0,0.9,1.0,1.0,1.0,124.0,66.0,105.0,NaN,NaN,NaN,NaN,15.0,1.0,0.9,22.0,24.0,104.0,3.0,0.0,0,NaN,NaN,NaN,NaN,NaN
2,2021,3237995,43,1,14,170,70,94.0,0.8,0.4,1.0,1.0,144.0,84.0,91.0,209.0,134.0,60.0,122.0,15.5,1.0,0.8,45.0,57.0,191.0,2.0,1.0,0,NaN,NaN,NaN,NaN,NaN
3,2021,3171504,49,1,11,175,80,95.0,1.2,1.2,1.0,1.0,144.0,96.0,99.0,NaN,NaN,NaN,NaN,16.0,1.0,1.3,30.0,38.0,52.0,3.0,1.0,0,NaN,NaN,NaN,NaN,NaN
4,2021,4107697,44,2,11,160,70,92.0,1.5,1.5,1.0,1.0,142.0,81.0,103.0,NaN,NaN,NaN,NaN,13.8,1.0,0.6,35.0,30.0,14.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN

In [6]:
for i in df_original:
    print(f'{i}:', len(df_original[i].unique()))

Base year: 1
Subscriber serial number: 1000000
attempt code: 17
gender code: 2
Age code (5 years increments): 10
Height (in 5cm increments): 14
Weight (in 5 kg units): 22
Waist circumference: 784
Vision (left): 25
Vision (right): 26
Hearing (left): 4
Hearing (right): 4
systolic blood pressure: 171
diastolic blood pressure: 134
Pre-meal blood sugar (fasting blood sugar): 487
total cholesterol: 435
triglycerides: 1311
Cholesterol (HDL): 280
Cholesterol (LDL): 369
hemoglobin: 191
urine protein: 7
Serum creatinine: 186
Liver function test (AST): 558
Liver function test (ALT): 577
Gamma GT: 1217
Smoking status: 4
Drinking status: 3
Whether to undergo oral examination: 2
Presence of dental caries: 3
Whether or not the defect is healed: 1
Presence or absence of tooth wear: 1
Third molars (wisdom teeth) or more: 1
tartar: 4

Examinamos a profundidad las variables para ver de que forma se comportan. Encontramos que la variable edad solo tiene 4 variables, asi que procedemos a identificar que son esos valores.

In [7]:
df_original['Age code (5 years increments)'].value_counts()

Age code (5 years increments)
11    176254
9     161412
13    156032
10    140945
12    134368
14     90693
15     73871
16     33645
17     25640
18      7140
Name: count, dtype: int64

Encontramos este articulo, donde detalla a que hacen referencia cada uno de los grupos de las edades, a partir del cual codificamos nuestros datos:

---

[Cohort Profile: The National Health Insurance Service–National Sample Cohort (NHIS-NSC), South Korea](https://academic.oup.com/ije/article/46/2/e15/2617147)
First, 1476 strata were constructed by age group, sex, participant’s eligibility status and income level. Specifically, strata were defined by 18 age groups (infants under 1 year, ages 1–4, 5-year age groups between 5 and 79, and 80 years and above)

---
A partir de esto, codificamos nuestros datos de la siguiente forma:
'strata were defined by 18 age groups (infants under 1 year, ages 1–4, 5-year age groups between 5 and 79, and 80 years and above)'

In [8]:
# Opcional, para ver los valores de las edades, no se si sea necesario incluirlo. depronto para definir los limites si se va a escalar la información entendiendo que la edad es un factor
# importante y no sabemos si pueden incluir datos de personas mas jovenes en proximos conjuntos de datos, necesitaria transformarlos y entender que ahi hay otros grupos.
edades = [
    [1, '0-1'],
    [2, '1-4'],
    [3, '5-9'],
    [4, '10-14'],
    [5, '15-19'],
    [6, '20-24'],
    [7, '25-29'],
    [8, '30-34'],
    [9, '35-39'],
    [10, '40-44'],
    [11, '45-49'],
    [12, '50-54'],
    [13, '55-59'],
    [14, '60-64'],
    [15, '65-69'],
    [16, '70-74'],
    [17, '75-79'],
    [18, '80-mas']
]

edad = pd.DataFrame(edades, columns=['Age code (5 years increments)', 'Age'])
df_original = df_original.merge(edad, on='Age code (5 years increments)', how='left')
df_original.drop('Age code (5 years increments)', axis=1, inplace=True)

In [9]:
df_original.head(5)

,Base year,Subscriber serial number,attempt code,gender code,Height (in 5cm increments),Weight (in 5 kg units),Waist circumference,Vision (left),Vision (right),Hearing (left),Hearing (right),systolic blood pressure,diastolic blood pressure,Pre-meal blood sugar (fasting blood sugar),total cholesterol,triglycerides,Cholesterol (HDL),Cholesterol (LDL),hemoglobin,urine protein,Serum creatinine,Liver function test (AST),Liver function test (ALT),Gamma GT,Smoking status,Drinking status,Whether to undergo oral examination,Presence of dental caries,Whether or not the defect is healed,Presence or absence of tooth wear,Third molars (wisdom teeth) or more,tartar,Age
0,2021,3603281,26,2,165,60,83.0,1.0,1.0,1.0,1.0,105.0,65.0,94.0,NaN,NaN,NaN,NaN,14.4,1.0,0.8,23.0,28.0,11.0,1.0,1.0,1,0.0,NaN,NaN,NaN,1.0,35-39
1,2021,1055961,11,1,170,70,84.0,0.9,1.0,1.0,1.0,124.0,66.0,105.0,NaN,NaN,NaN,NaN,15.0,1.0,0.9,22.0,24.0,104.0,3.0,0.0,0,NaN,NaN,NaN,NaN,NaN,45-49
2,2021,3237995,43,1,170,70,94.0,0.8,0.4,1.0,1.0,144.0,84.0,91.0,209.0,134.0,60.0,122.0,15.5,1.0,0.8,45.0,57.0,191.0,2.0,1.0,0,NaN,NaN,NaN,NaN,NaN,60-64
3,2021,3171504,49,1,175,80,95.0,1.2,1.2,1.0,1.0,144.0,96.0,99.0,NaN,NaN,NaN,NaN,16.0,1.0,1.3,30.0,38.0,52.0,3.0,1.0,0,NaN,NaN,NaN,NaN,NaN,45-49
4,2021,4107697,44,2,160,70,92.0,1.5,1.5,1.0,1.0,142.0,81.0,103.0,NaN,NaN,NaN,NaN,13.8,1.0,0.6,35.0,30.0,14.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,45-49

Mostramos las posibles vairables objetivo, con sus conteos por cada valor

In [10]:
df_original['Smoking status'].value_counts()

Smoking status
1.0    633346
2.0    183811
3.0    182516
Name: count, dtype: int64

In [11]:
df_original['Drinking status'].value_counts()

Drinking status
1.0    577301
0.0    422519
Name: count, dtype: int64