In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")


df = pd.read_csv('Smoking/competition_format/X_train.csv')
y = pd.read_csv('Smoking/competition_format/y_train.csv')
df.drop(['ID'], axis=1, inplace=True)
y.drop(['ID'], axis=1, inplace=True)

          ID  smoking
0          0        0
1          1        0
2          2        1
3          3        0
4          4        0
...      ...      ...
44548  55686        0
44549  55687        0
44550  55688        0
44551  55689        1
44552  55690        0

[44553 rows x 2 columns]